@use "global" as *;

/* ---- Header Navigation               --------------- */

.MainHeader {
  @include ricepaper;
  align-items: center;
  display: flex;
  min-height: set-size(20);
  justify-content: center;
  margin-bottom: -180px;
  position: relative;
  z-index: 10;
}

.MainHeader__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: set-size(300);

  @include max-width-viewport(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.MainHeader__logo {
  @include set-type(display, 6, bold);
  text-transform: uppercase;
  display: block;

  @include max-width-viewport(md) {
    margin-left: set-size(8);
  }

  @include max-width-viewport(sm) {
    margin-left: 0;
  }
}

.MainHeader__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  
  &:link,
  &:visited {
    color: get-color(black);
  }
}

.MainHeader__logo-img {
  width: set-size(16);
  opacity: 0.5;
  margin-right: set-size(2);
}

.MainHeader__logo-alpha-tag {
  @include set-type(interface, 4, bold);
  color: get-color(black, 0, 50);
  background-color: get-color(black, 0, 10);
  padding: 0 set-size(3);
  border-radius: set-size(4);
  margin-left: set-size(4);
}

.MainHeader__nav-list {
  list-style-type: none;
  display: flex;
  padding-right: set-size(4);

  @include max-width-viewport(sm) {
    flex-direction: column;
    display: none;
  }
}

.MainHeader__nav-item {
  
  & + & {
    margin-left: set-size(6);

    @include max-width-viewport(sm) {
      margin-left: 0;
    }
  }
}


.MainHeader__nav-link {
  @include set-type(interface, 5);
  text-decoration: none;
  color: get-color(black, 0, 40);
  position: relative;
  transition: color 100ms ease;
  
  &:link,
  &:visited {
    color: get-color(black);
  }
  
  &:after {
    width: 100%;
    position: relative;
    bottom: 0;
    height: set-size(micro);
    content: '';
    background: linear-gradient(to right, get-color(orange, 4), get-color(orange), get-color(orange, 4));
    display: block;
    transform: scaleX(0);
    transition: opacity 100ms ease, transform 150ms ease-in;
    opacity: 0;
  }

  &:focus,
  &:hover {
    color: get-color(black);

    @include dark-mode {
      // color: get-color(white);
    }

    &:after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &[disabled]:focus:after,
  &[disabled]:hover:after {
      opacity: 0;
      transform: scaleX(0);
  }
}